@font-face {
  font-family: Guld-Script;
  src: url(/Media/GuldScript_PersonalUseOnly.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

.header {
  height: 50vh;
  font-family: Guld-Script, sans-serif;
  background-image: url(/Media/hero.jpg);
  background-size: cover;
  background-position: top;
}

.text-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 15px;
}

.heading-primary-sub {
  font-family: "Crimson Text", serif;
  display: block;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 6px;
}

form {
  text-align: center;
  margin-right: 50px;
}
input {
  width: 18em;
  height: 2.3em;
  padding: 0.3em;
}

.txt-input-field {
  background-color: rgba(255, 255, 255, 0.267);
  border: none;
  color: white;
  font-size: 1em;
  border-radius: 3px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(124, 215, 240);
  padding: 3px 0px 3px 3px;

  border: 1px solid rgb(154, 221, 240);
}

.btn {
  display: inline block;
  /* background-color: rgba(255, 255, 255, 0); */
  border: none;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 15px;
  transition: transform 80ms ease-in-out;
  outline: none;
  background-color: Transparent;
}

.btn-commit {
  color: rgba(255, 255, 255, 0.815);
}

.btn-delete {
  order: 3;
}

.btn-edit {
  display: inline-block;
  bottom: 300px;
}

.gg-add-r {
  --ggs: 1.5;
}

.btn:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

.btn:active {
  border: none;
  transform: translateY(0.6px);
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}

.todo-list {
  margin-left: 15px;
  margin-top: 10px;
  list-style: none;
}

.todo-id {
  cursor: pointer;
  font-size: 1.8em;
  padding-top: 5px;
}
.todo-item {
  padding: 30px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.75px;
}

i {
  background-color: none;
}

.item-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

/* animating strike through */
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.strike::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

hr {
  margin-right: 10px;
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}
